/* Estilo para el fondo de pantalla */
body {
    background-image: url("../Imagenes/strong-man-training-in-gym-scaled.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Permite posicionar el logo de forma absoluta */
    padding: 10px;
}

.logo {
    position: absolute;
    left: 15%; /* Coloca el logo en la esquina izquierda */
    max-width: 250px; /* Ajusta el tamaño del logo si es necesario */
}

h2 {
    color: white; /* Cambia el color del texto de "Iniciar Sesión" a blanco */
}
label {
    color: white; /* Cambia el color del texto de las etiquetas, como "Usuario" a blanco */
}
/* Contenedor del formulario de inicio de sesión */
.login-container {
    position: center;
    width: 300px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffffff;
}

/* Estilos generales del formulario */
form {
    display: flex;
    flex-direction: column;
}

label,
input {
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #f8f5f5;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    border: 1px solid #080808;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #45a049;
}

