body {
    background-image: url("../Imagenes/ejercicios-basicos-de-gimnasio.webp");
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #d2f8ca00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* El contenedor del logo puede tener estilos adicionales si es necesario */
.header {
    position: center;
    width: 5%;
}

/* Logo ubicado en la esquina superior izquierda */
.logo {
    display: block;
    width: 270px; /* Ajusta el tamaño del logo según sea necesario */
    height: 170px;
    background-image: url("../Imagenes/logo\ gym-Photoroom.png");
    background-size: contain; /* Asegura que el logo se ajuste sin distorsionarse */
    background-repeat: no-repeat;
    background-position: center;
    
    /* Posiciona el logo en la esquina superior izquierda */
    position: fixed; /* Cambiado a 'fixed' para que permanezca en la esquina */
    top: 0; /* Alinea el logo al borde superior */
    left: 0; /* Alinea el logo al borde izquierdo */
    margin: 100px; /* Añade un pequeño margen desde los bordes */
    z-index: 1000; /* Asegura que el logo esté por encima de otros elementos */
}

.form-container {
    background-color: #2e8331a2;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #020202
}

.form-container h2 {
    text-align: center;
    color: #ffffff;
}

.contenedor {
    margin-left: 500px;
    color: #f50a0a;
}
.form-container .social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-container .social-login img {
    width: 5%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 7px;
    border: 1px solid #020202;
    border-radius: 4px;
}

.form-group .phone-group {
    display: flex;
}

.form-group .phone-group input {
    flex: 1;
    margin-left: 10px;
}

.form-group .phone-group select {
    width: 70px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group label {
    font-weight: normal;
}

.form-group button {
    width: 100%;
    padding: 20px;
    background-color: #030303;
    color: rgb(243, 243, 243);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
}

.form-group button:disabled {
    background-color: #4CAF50;
    border: 1px solid #020202;
}

.form-group a {
    text-align: center;
    display: block;
    margin-top: 25px;
    color: #ffffff;
    text-decoration: none;
}